body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    /* display: flex; */
    justify-content: center;
    align-items:  center;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #b4ec31;
    color: #000000;
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.file-list {
    margin-bottom: 20px;
}

.error-message {
    color: #ff0000;
    font-weight: bold;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

label {
    /* display: block; */
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}
